body {
  background: url("./img/background.jpg");
  text-align: center;
}

h1,
button,
label {
  text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.8),
    10px 10px 20px rgba(36, 6, 6, 0.808), 15px 15px 30px rgba(15, 3, 3, 0.037);
}
.notes-app textarea {
  padding: 20px;
  font-size: 1rem;
  border-radius: 25px;
  border: none;
}

.notes-app label {
  font-weight: bold;
  font-size: 1.1rem;
}

.notes-app input {
  margin: 10px 0;
  width: 250px;
  height: 50px;
  font-size: 1rem;
  border-radius: 25px;
  border: none;
}

.notes-app button {
  color: rgba(53, 43, 43, 0.667);
  padding: 5px;
  width: 127px;
  height: 42px;
  margin-left: 10px;
  margin-top: 50px;
  border-radius: 18px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
}
button:hover {
  cursor: pointer;
  background-color: rgba(21, 10, 10, 0.573);
  color: white;
}

#notes {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

#notes .note {
  background-image: url("./img/note.png");
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  padding-top: 50px;
}
